---
import Layout from "@layouts/layout.astro";
import Container from "@components/Container.astro";
---

<Layout>
  <Container>
    <main>
      <h2>Queer. Punk. Acid. Sweat.</h2>
      <p>San Diego's premiere Queer Underground Experience.</p>
    </main>
  </Container>
</Layout>
